/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --light: #fdf9e6;
  --dark: #100f02;
  --sub-dark: #17170a;
  --primary: #f3ec82;
  --secondary: #3b980e;
  --accent: #18ea1a;
  font-family: roboto;
}

html {
  height: 100%;
  background-color: rgba(39, 37, 37, 0.993);
}

body {
  min-height: 100%;
}

.outmost-container {
  display: grid;
  background-color: var(--dark);
  height: 100vh;
  grid-template-rows: 80px 1fr;
}

.header {
  background-color: var(--sub-dark);
  color: var(--light);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header form.add-book {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header .form-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

.header label {
  text-align: center;
}

.header input[type="text"]:not(.url),
.header input.url {
  flex: 1;
  border-radius: 8px;
  background-color: var(--dark);
  color: var(--light);
  padding: 1px 5px;
  font-size: 0.95rem;
}

.header input[type="text"]:not(.url):valid {
  border-color: #15fd15;
}

.header input[type="text"]:not(.url):invalid {
  border-color: red;
}

.header input[type="text"]:not(.url):focus,
.header input.url:focus {
  outline: none;
}

.header input.url {
  border: 1px solid var(--primary);
}

.checkbox {
  display: flex;
  flex: 1;
  gap: 10px;
  justify-content: center;
}

dialog {
  border-radius: 12px;
  border: 3px solid var(--primary);
}

.header input[type="checkbox"] {
  accent-color: var(--accent);
}
.header input[type="checkbox"]:hover,
.header button:hover {
  cursor: pointer;
}

.header button {
  width: 200px;
  height: 40px;
  background-color: var(--primary);
  font-weight: bolder;
  border: none;
  border-radius: 20px;
  align-self: center;
}

.header button.submit-book:hover {
  background-color: var(--accent);
}
.cards-container {
  background-color: var(--dark);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 500px;
  margin: 20px;
  gap: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 40px);
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--dark);
}

.greenBorder {
  border: solid #15fd15 2px;
  .readState {
    color: #15fd15;
  }
  .svgButtonsContainer svg:hover {
    fill: #15fd15;
    cursor: pointer;
  }
}

.redBorder {
  border: solid red 2px;
  .readState {
    color: red;
  }
  .svgButtonsContainer svg:hover {
    fill: red;
    cursor: pointer;
  }
}

.card {
  color: var(--light);
  background-color: var(--sub-dark);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  gap: 8px;
  max-width: 500px;
  padding: 20px 0;
  border-radius: 20px;
  box-shadow: inset 0 -240px 40px -20px rgba(20, 20, 10, 0.801);
}

.bookName {
  overflow-x: auto;
}
.authorName {
  overflow-x: auto;
}
.authorName::before {
  content: "By: ";
}
.releaseYear::before {
  content: "Year of release: ";
}

.pageNumber::after {
  content: " pages";
}

.card .svgButtonsContainer {
  display: flex;
  flex: 1;
  width: 100%;
  align-self: center;
  justify-content: center;
  max-height: fit-content;
  gap: 20px;
}
.card svg {
  width: 24px;
  height: 24px;
  fill: var(--light);
}

dialog {
  position: absolute;
  width: max-content;
  justify-self: center;
  align-self: center;
  background-color: var(--sub-dark);
  color: var(--light);
  scrollbar-width: thin;
  scrollbar-color: var(--dark) var(--sub-dark);
}

dialog::backdrop {
  backdrop-filter: blur(3px);
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.double {
  display: flex;
  gap: 12px;
}

.cancelDialog:hover {
  background-color: red;
}

.asterisk {
  color: red;
  font-weight: bolder;
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.show:hover + br + .hide {
  display: block;
  color: var(--light);
}
.red {
  /*color: rgb(137, 0, 216);*/
  color: red;
  font-weight: bolder;
}

@media only screen and (max-width: 468px) {
  .double {
    flex-direction: column;
  }
  .header {
    justify-content: center;
  }
}
